<div class="company">
	<div class="container">
		<h1>Qualite</h1>
		<h2>Проекты</h2>
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<div class="caption">
						<h3><a href="#/project">Startup</a></h3>
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<div class="caption">
						<h3><a href="#/project">Startup</a></h3>
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img class="responsive" src="https://cdn2.iconfinder.com/data/icons/flat-style-svg-icons-part-1/512/create_with_plus_mail_layer-128.png" alt="...">
					<div class="caption">
						<h3><a data-toggle="modal" data-target="#myModal">Добавить проект</a></h3>
					</div>
				</div>
			</div>
		</div>

		<h2><a href="#/company/stuff">Сотрудники</a> (30)</h2>

		<div class="stuff">
			<div class="row">
				<div class="col-xs-6 col-md-3">
					<div class="thumbnail">
						<img src="https://vk.com/images/camera_a.gif" alt="...">
						<div class="caption">
							<h3>Уебок</h3>
							<p>CEO</p>
						</div>
					</div>
				</div>

				<div class="col-xs-6 col-md-3">
			    <div class="thumbnail">
			      <img src="https://pp.vk.me/c617418/v617418394/3eba/VN5DvH0CZRU.jpg" alt="...">
			      <div class="caption">
			        <h3>aleshqa</h3>
			        <p>COO</p>
			      </div>
			    </div>
			  </div>

				<div class="col-xs-6 col-md-3">
					<div class="thumbnail">
						<img src="https://pp.vk.me/c309218/v309218361/a258/TUd6Ew_nc1c.jpg" alt="...">
						<div class="caption">
							<h3>Уебок</h3>
							<p>Chief HTML Verstalschik</p>
						</div>
					</div>
				</div>

				<div class="col-xs-6 col-md-3">
					<div class="thumbnail">
						<img src="https://pp.vk.me/c616431/v616431569/6560/tf4r2n1tOsI.jpg" alt="...">
						<div class="caption">
							<h3>Уебок</h3>
							<p>Нордост сделай</p>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Добавить проект</h4>
					</div>
					<div class="modal-body">
						<input />
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
						<button type="button" class="btn btn-primary">Добавить</button>
					</div>
				</div>
			</div>

			<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModal2Label" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">Добавить сотрудника</h4>
						</div>
						<div class="modal-body">
							<input />
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
							<button type="button" class="btn btn-primary">Добавить</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
