<div class="jumbotron">
		<div class="container">
			<h1>Лучший таск менеджер.</h1>
			<p>Первый месяц – бесплатно!</p>
			<p><a class="btn btn-success btn-lg" role="button">Попробуйте <i class="fa fa-chevron-right"></i></a></p>
		</div>
</div>

<div class="features">
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<h3>Свободный аккаунт.</h3>
				<p>В отличие от наших конкурентов, у нас отсутствует строгая привязка аккаунта к проекту.</p>

				<h3>Гибкие цены.</h3>
				<p>Вы платите только за то, что вам реально нужно. 30-дневный trial прилагается.</p>

				<h3>Marketplace.</h3>
				<p>Выбирайте модуль</p>

			</div>

			<div class="col-md-3">
				<p><img src="images/ipad.png" class="img-responsive"/></p>
			</div>
		</div>
	</div>
</div>

<div class="reviews">
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<h3>Отзывы.</h3>

			</div>
		</div>
	</div>
</div>

<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<a href="#">Блог</a>
				|
				<a href="#">Контакты</a>
			</div>

			<div class="col-sm-3">
				From Syberia with <i class="fa fa-heart"></i>
			</div>
		</div>
	</div>
</div>
